/**
* Homework 1 CSS File
**/

body { 
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777;
  background-color: #777;
  width: 960px;
  font-size: 18px; 
  }
  
#header {
    text-align: center;
    height: 50px;
    margin-bottom: 5px;
    background-color: #ebebeb;
}
  
#nav {
  text-align: center;
  height: 50px;
  margin-bottom: 5px;
  background-color: #ebebeb;
  }
  
#aside{
    text-align: center;
    float: right;
    height: 200px;
    width: 40%;
    padding-bottom: 35px;
    margin-botton: 10px;
    background-color: #ebebeb;
    color: #777;
  } 
  
.group {
    text-align: center;
    width: 495px;
    color: #777;
    margin-bottom: 10px;
    background-color: #ebebeb;
  }

.group2 {
    text-align: center;
    background-color: #777
  }

#article{
    color: #ebebeb;
    background-color: #777;
  }


#h123 {
    text-align: center;
    background-color: white;
    margin-bottom: 5px;
  }

#p {
    text-align: center;
    margin-bottom: 5px;
    background-color: white;
  }




footer {
  text-align: center;
  height: 50px;
  margin-top: 5px;
  background-color: #ebebeb;
  clear: both;
  }
  
  